In [1]:
import pandas as pd

In [2]:
df=pd.read_clipboard()
city=input('city name:')

city name:QOM

In [6]:
df.head()

          id  Request Latitude  Request Longitude
0  481906993          36.56840           53.06576
1  481908090          36.55456           53.04624
2  481908399          36.57284           53.08213
3  481909935          36.55248           53.02915
4  481910327          36.56809           53.06568

In [3]:
df.shape

(59595, 3)

In [4]:
import gmplot

gmap = gmplot.GoogleMapPlotter(df.iloc[0,1], df.iloc[0,2], 12)

radius=20

#gmap.plot(df.iloc[:,1], df.iloc[:,2], 'cornflowerblue', edge_width=10)
#gmap.scatter(df.iloc[:,1], df.iloc[:,2], '#3B0B39', size=40, marker=False)
#gmap.scatter(df.iloc[:,1], df.iloc[:,2], 'k', marker=True)
gmap.heatmap(df.iloc[:,1], df.iloc[:,2],radius=radius,opacity=0.6)

gmap.draw("{0}_{1}.html".format(city,radius))